@import 'config';
@import 'utilities';
@import 'item_grid';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  background: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

// Home Sections

// First section = home-a
.specializations {
  color: black;
  .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .fas {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }
}

// Second section = home-b
.stats {
  color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  li {
    line-height: 2;

    &.stats-title {
      font-size: 1.5rem;
    }

    &.stats-number {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  div {
    padding: 3rem 0;

    &:nth-child(odd) {
      background: $light-color;
    }

    &:nth-child(even) {
      background: $medium-color;
    }
  }
}
